<br><br><br><br><br><br>
<div class="col-md-8">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h2>Sign in</h2>
  </div>
  <div class="col1">            
    <div class="panel-body">
     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div class="form-group">
  	<%= f.label :email %>
    <%= f.email_field :email, :autofocus => true , class: "form-control" %>
</div>

  <div class="form-group">
  	<%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
 </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
<br>
  <div>
  	<%= f.submit "Sign in" ,class: "btn btn-primary" %>
  </div>
<% end %><br>
<div class="panel-footer">
<%= render "devise/shared/links" %>
</div>
<div class="row3">
 <div class="col-md-8">             
 <h4>Use other accounts</h4>
 <p>
  You can also sign in using your Facebook Account or Google Account
</p>
<a href="" class="btn btn-large btn-block btn-fb">Login with Facebook</a>
<a href="" class="btn btn-large btn-block btn-google">Login with Google</a>
</div>
