
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<% @posts.each do |post| %>
  <div class="row">
    <div class="span8"><h2><%= post.title %></h2></div>
    <div class="span4"><medium><%= l post.publish_date, :format => :long %></medium></div>
  </div>
  <div class="row">
    <div class="span8">Author: <%= link_to post.user.name, profiles_show_path(:user => post.user.id) %></div>
    <div class="span4">Categories:
      <% post.categories.each do |cat| %>
        <%= link_to cat.name, root_path(:cat => cat.id) %>
      <% end %>
    </div>
  </div>
  <br/>
  <blockquote><%= post.body %></blockquote>
  <div class="container">
    <div class="btn-group">
        <button class="btn btn-default disabled">Share:</button>    
        <a class="btn btn-default" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
            <i class="fa fa-thumbs-o-up fa-lg fb"></i>
        </a>
        <a class="btn btn-default google-plus-one" target="_blank" title="+1 On Google" href="https://apis.google.com/_/+1/fastbutton?usegapi=1&amp;size=large&amp;hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
            <i class="fa fa-google-plus fa-2x google"></i>
            <span class="google">1</span>
        </a>
        <a class="btn btn-default" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;t=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
            <i class="fa fa-facebook fa-lg fb"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="On Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;text=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
            <i class="fa fa-twitter fa-lg tw"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
            <i class="fa fa-google-plus fa-lg google"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="On LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
            <i class="fa fa-linkedin fa-lg linkin"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="On VK.com" href="http://vk.com/share.php?url=http%3A%2F%2Fostr.io&amp;title=Social%20Buttons%20in%20HTML%20only&amp;description=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons&amp;image=http%3A%2F%2Fostr.io/img/icon_500x500.png">
            <i class="fa fa-vk fa-lg vk"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="Pin It" href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;media=http%3A%2F%2Fostr.io/img/share-bar.png&amp;description=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons&amp;">
            <i class="fa fa-pinterest fa-lg pinterest"></i>
        </a>
        <a class="btn btn-default" target="_blank" title="Surf!" href="http://surfingbird.ru/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;description=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons&amp;screenshot=http%3A%2F%2Fostr.io/img/share-bar.png&amp;title=Social%20Buttons%20in%20HTML%20only">
            <i class="fa surfingbird fa-lg"></i>
        </a>
    </div>
</div>
  
  <% if current_user && (current_user.has_role?(:admin) || current_user.id==post.user_id) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_post_path(post), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                post_path(post),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'boohoo')),
                :class => 'btn btn-mini btn-danger' %>
  <% end %>
  <hr />
<% end %>

<%- if current_user %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>